In [2]:
import pandas as pd

### Reading data

In [ ]:
original_seed = pd.read_csv(
    "seed_matrices/1_original_seed.csv", sep="\t", header=None, names=["Protein", "GO ID", "Score"]
)
# convert scores to 1s
original_seed["Score"] = 1
original_seed.sort_values(by=["Protein"], inplace=True)
original_seed

      Protein       GO ID  Score
0      O06944  GO:0003674      1
1      O06944  GO:0005488      1
2      O06944  GO:0005515      1
29     P05429  GO:0110165      1
28     P05429  GO:0098796      1
...       ...         ...    ...
49913  Q9FAB3  GO:0016301      1
49914  Q9FAB3  GO:0016310      1
49916  Q9FAB3  GO:0016772      1
49918  Q9FAB3  GO:0017076      1
49938  Q9FAB3  GO:1901363      1

[49939 rows x 3 columns]

In [7]:
new_seed = pd.read_csv(
    "ipr_seed/1111708_new_seed_2.tsv", sep="\t"
)
new_seed.drop(columns=["interpro"], inplace=True)
# Order columns by Protein column
new_seed.sort_values(by=["Protein"], inplace=True)
new_seed

      Protein  Score       GO ID
74312  O06944      1  GO:0071840
71227  O06944      1  GO:0051276
46364  O06944      1  GO:0016818
42092  O06944      1  GO:0016462
52998  O06944      1  GO:0030554
...       ...    ...         ...
41907  Q9FAB3      1  GO:0016310
60748  Q9FAB3      1  GO:0043168
54659  Q9FAB3      1  GO:0032559
8617   Q9FAB3      1  GO:0004672
43660  Q9FAB3      1  GO:0016740

[83521 rows x 3 columns]

### Intersecting new and old seeds

In [8]:
# Intersecting new and old seeds only on GO ID column
# go_id_old = set(original_seed["GO ID"].unique())
go_id_new = set(new_seed["GO ID"].unique())
# common_go_ids = go_id_old.intersection(go_id_new)
# print(f"Number of common GO IDs: {len(common_go_ids)}")
# print(f"Number of GO IDs in original seed: {len(go_id_old)}")
print(f"Number of GO IDs in new seed: {len(go_id_new)}")

Number of GO IDs in new seed: 3686