In [2]:
import pandas as pd

### Reading data

In [17]:
original_seed = pd.read_csv(
    "seed_matrices/1111708_original_seed.csv", sep="\t", header=None, names=["Protein", "GO ID", "Score"]
)
# convert scores to 1s
original_seed["Score"] = 1
original_seed.sort_values(by=["Protein"], inplace=True)
original_seed

      Protein       GO ID  Score
0      O06944  GO:0003674      1
1      O06944  GO:0005488      1
2      O06944  GO:0005515      1
29     P05429  GO:0110165      1
28     P05429  GO:0098796      1
...       ...         ...    ...
49913  Q9FAB3  GO:0016301      1
49914  Q9FAB3  GO:0016310      1
49916  Q9FAB3  GO:0016772      1
49918  Q9FAB3  GO:0017076      1
49938  Q9FAB3  GO:1901363      1

[49939 rows x 3 columns]

In [20]:
new_seed = pd.read_csv(
    "seed_matrices/83333_new_seed.tsv", sep="\t"
)
new_seed.drop(columns=["interpro"], inplace=True)
# Order columns by Protein column
new_seed.sort_values(by=["Protein"], inplace=True)
new_seed

           Protein  Score       GO ID
52516   A0A0A6YVN8      1  GO:0005975
188885  A0A0A6YVN8      1  GO:0034015
23814   A0A0A6YVN8      1  GO:0003824
160629  A0A0A6YVN8      1  GO:0016854
160999  A0A0A6YVN8      1  GO:0016861
...            ...    ...         ...
228355      V9PPD8      1  GO:0050794
223010      V9PPD8      1  GO:0046872
223009      V9PPD8      1  GO:0046872
275353      V9PPD8      1  GO:2001141
242054      V9PPD8      1  GO:0060255

[276104 rows x 3 columns]

### Intersecting new and old seeds

In [21]:
# Intersecting new and old seeds only on GO ID column
go_id_old = set(original_seed["GO ID"].unique())
go_id_new = set(new_seed["GO ID"].unique())
common_go_ids = go_id_old.intersection(go_id_new)
print(f"Number of common GO IDs: {len(common_go_ids)}")
print(f"Number of GO IDs in original seed: {len(go_id_old)}")
print(f"Number of GO IDs in new seed: {len(go_id_new)}")

Number of common GO IDs: 2215
Number of GO IDs in original seed: 2848
Number of GO IDs in new seed: 3523